doctype html
html
	include header
	include includes/dashmix
	body
		.maincontent
			.cuatro 404
			.sadface  
				img(src="monkey.png")
				p Algo no anda bien, mandaremos a un grupo de monos altamente entrenados a solucionalo
