include dashmix
+upbar('Nov 2014')
.events-collection
	//-3
	+card(
		'money df',
		'6 nov',
		'Mobile Monday México',
		'Restaurante Don Asado, DF'
		)
	+event(
		'img/nov2014/mobmonday.jpg',
		'Mobile Monday México, Oportunidades para Apps con base en NOMS',
		'Mobile Monday México está dirigido a una comunidad abierta de visionarios de la industria móvil, profesionales, diseñadores, emprendedores y líderes de opinión del medio. En esta novena edición de Mobile Monday México contaremos con la participación de diversas personalidades del sector tratando el tema: Oportunidades para apps con base en NOMs ¡Te esperamos!',
		'http://www.applicate.mx/es/Applicate/evento/278/mobile-monday-mexico-noviembre-2014',
		'03-11-2014 18:30:00',
		'03-11-2014 21:00:00',
		'Restaurante Don Asado, Río Lerma 210'
		)

	//-6
	+card(
		'comunidades df',
		'6 nov',
		'KaraOkulta DF',
		'SAE Institute México'
		)
	+event(
		'img/nov2014/karaokulta.png',
		'KaraOkulta DF',
		'Nos reuniremos una vez cada més para presentar arte, game design, tecnología, críticas o lo que sea relacionado con el grupo de desarrolladores de videojuegos de habla hispana.  En 20 diapositivas, cada una no más de 20 segundos! Es el pretexto idóneo para conocernos y responder a la pregunta "Qué necesitas para hacer tu videojuego?" y esperamos con esto ir cerrando la brecha de hacerlos y ponerlos en el mercado invitando a toda la comunidad karaokulta que es gente que está por toda la cadena de valor de videojuegos. ',
		'http://www.meetup.com/KaraOKulta/events/qhsfmjyspbjb/',
		'06-11-2014 18:00:00',
		'06-11-2014 22:00:00',
		'José Vasconcelos No. 184 Colonia Condesa, Delegación Cuauhtémoc, México D.F'
		)
	//-7
	+card(
		'comunidades df',
		'7 nov',
		'UX Nights',
		'Estela de la Luz, DF'
		)
	+event(
		'img/nov2014/uxnight.png',
		'UX Nights Volumen III',
		'UX Nights es una iniciativa destinada a hacer crecer la comunidad de Experiencia de Usuario (UX) en México. Compartiremos en la noche del primer jueves de mes nuestras experiencias junto con chelas y pizzas.',
		'http://www.eventbrite.com/e/ux-nights-volumen-iii-dia-mundial-de-la-usabilidad-tickets-13685588965?aff=es2&rank=24',
		'07-11-2014 17:00:00',
		'07-11-2014 22:00:00',
		'Centro de Cultura Digital, Paseo de la Reforma 509, Cuauhtémoc. Ciudad de México, México.'
		)
	//-5
	+card(
		'comunidades gdl',
		'5 nov',
		'Tech Women Community',
		'Hacker Garage, GDL'
		)
	+event(
		'img/nov2014/techwoman.png',
		'Tech Women Community',
		'Tech Women Community es una comunidad formada por mujeres involucradas en la tecnología (programadoras, diseñadoras, testers, sysadmin, soporte, etc) en busca de generar conocimiento y motivar a las mujeres para que participen y se inicien en el mundo de la informática.',
		'http://www.meetup.com/Tech-Women-Community/',
		'05-11-2014 19:00:00',
		'05-11-2014 21:00:00',
		'HackerGarage, Vidrio, Obrera, Guadalajara, México'
		)

	//-8
	+card(
		'comunidades gdl',
		'8 nov',
		'Behance Portfolio Review',
		'Nevermind, GDL'
		)
	+event(
		'img/nov2014/behance.png',
		'Behance Portfolio Review - PRW #6',
		'The creative world wants and needs more feedback. It’s the only way our work gets better. Portfolio Review Week was created to foster feedback exchange in the creative community. Behance wanted to develop an offline program so that members could meet in real life and connect with other Behancers from their community.',
		'http://www.meetup.com/Tech-Women-Community/',
		'08-11-2014 19:00:00',
		'08-11-2014 22:00:00',
		'Jose Guadalupe Montenegro 1615,Guadalajara, Jalisco'
		)
.content-display