include dashmix
+upbar('Octubre 2014')
.events-collection
	//-13
	+card(
		'comunidades gdl',
		'13-17 oct',
		'Change Maker Week',
		'Tecnológico de Monterrey, GDL'
		)
	+event(
		'img/oct2014/changemakers.jpg',
		'Change Maker Week',
		'Changemaker Week es la fiesta de innovación y emprendimiento social en el Campus. Es un espacio donde los actores de la universidad se reconocen como agentes de cambio. Los agentes de cambio se fortalecen y encuentran a sus iguales. La comunidad universitaria tiene la oportunidad de acercarse a las problematicas sociales, compartir puntos de vista y descubrir herramientas para la trasformación social.',
		'https://twitter.com/changemake_week',
		'13-10-2014 09:00:00',
		'17-10-2014 21:00:00',
		'Av General Ramón Corona 2514, Colonia Nuevo México, Zapopan, JAL'
		)
	//-14
	+card(
		'comunidades df',
		'14 oct',
		'Campus Night - Creativity Edition',
		'Centro de Cultura Digital, DF'
		)
	+event(
		'img/oct2014/cpnight.jpg',
		'Campus Night - Creativity Edition',
		'Campus Party, el acontecimiento de Internet más importante del mundo en las áreas de Innovación, Creatividad, Ciencia, Emprendimiento, Ocio y Cultura Digital, trae para ti Campus Night, el primer evento mensual dentro del Centro de Cultura Digital en el Distrito Federal. Campus Night surgió como la propuesta que retorna la presencia de Campus Party en el Distrito Federal. Tendrá lugar de forma mensual en ediciones temáticas (Creatividad, Emprendimiento, Desarrrolladores y Makers',
		'http://www.campus-party.com.mx/campusnight/creativity.html',
		'14-10-2014 20:00:00',
		'14-10-2014 23:00:00',
		'Centro de Cultura Digital, Paseo de la Reforma 509, Cuauhtémoc. Ciudad de México, México.'
		)

	//-14
	+card(
		'comunidades gdl',
		'14 oct',
		'TEDxZapopan 2014',
		'Tecnológico de Monterrey, GDL'
		)
	+event(
		'img/oct2014/tedxzapopan.jpg',
		'TEDxZapopan 2014',
		'El propósito de TEDxZapopan 2014 es identificar las mejores prácticas para crear transformaciones “imposibles”, reunir a los agentes de cambio de nuestra comunidad e impulsar proyectos de cambio a nivel personal, empresarial, institucional y sociedad.',
		'http://tedxzapopan.com/',
		'14-10-2014 15:00:00',
		'14-10-2014 21:30:00',
		'Av General Ramón Corona 2514, Colonia Nuevo México, Zapopan, JAL'
		)


	//-14
	+card(
		'comunidades gdl',
		'14 oct',
		'H/F UX Sesión 3',
		'Hacker Garage'
		)
	+event(
		'img/oct2014/hfux.png',
		'H/F UX Sesión 3',
		'Que es importante contemplar en la construcción de nuestro producto para provocar en nuestros usuarios mejores experiencias.',
		'http://www.eventbrite.com/e/hf-ux-sesion-3-tickets-13659567133?aff=ehomecard',
		'14-10-2014 19:00:00',
		'14-10-2014 22:00:00',
		'HackerGarage, Vidrio, Obrera, Guadalajara, México'
		)

	+card(
		'curso df',
		'14 oct',
		'Taller jurídico para emprendedores',
		'Impact Hub México DF '
		)
	+event(
		'img/oct2014/tallerjuridico.jpg',
		'Taller jurídico para emprendedores',
		'Acompáñanos a conocer algunos de los aspectos jurídicos más importantes para desarrollar tu negocio. Tocaremos los siguientes temas:  1.-El comerciante y sus obligaciones. (Se trata de revisar quién es comerciante, qué implica ello y cuáles son sus principales obligaciones, incluyendo las fiscales).  2.- La estructura legal de los negocios: sociedades, asociaciones en participación, joint ventures, etc.  3.- La inversión extranjera.  4.- La protección del negocio (propiedad industrial y derechos de autor).   5.- Las relaciones con la autoridad: permisos, licencias y autorizaciones. Medios de defensa.',
		'http://www.eventbrite.com/e/taller-juridico-para-emprendedores-tickets-13264657949?aff=es2&rank=2',
		'14-10-2014 09:30:00',
		'14-10-2014 11:30:00',
		'Alvaro Obregón 168 esquina Tonalá, Roma Norte, Ciudad de México'
		)

	//-15
	+card(
		'comunidades gdl',
		'15 oct',
		'Epic Queen Chapter 3',
		'Tecnológico de Monterrey, GDL'
		)
	+event(
		'img/oct2014/epicgdl.png',
		'Epic Queen Chapter 3',
		'¡Ya viene la tercera edición de Epic Queen Chapter Guadalajara! La cita es este 15 de octubre en el TEC de Monterrey Campus Guadalajara (en el Edificio del Parque Tecnológico, 3er piso); en el marco del Changemaker Week y, para conmemorar, el tema de esta reunión será enfocado a proyectos de emprendimiento y tecnología con impacto social.',
		'https://eqchaptergdl3.boletia.com/',
		'15-10-2014 19:00:00',
		'15-10-2014 22:00:00',
		'Ramón Corona 2514, Zapopan, Jalisco México'
		)

	//-16
	+card(
		'comunidades gdl',
		'16 oct',
		'Ruby GDL',
		'Hacker Garage, GDL'
		)
	+event(
		'img/oct2014/rubygdl.png',
		'Ruby GDL',
		'RubyGDL presenta un panel para explorar diferentes maneras de construir software basadas en experiencias reales. No importa tu nivel de programación, experiencia, edad o lenguaje.',
		'http://www.eventbrite.com/e/registro-rubygdl-panel-mejores-practicas-para-el-desarrollo-de-software-13638002633?aff=eorg',
		'16-10-2014 19:30:00',
		'16-10-2014 21:00:00',
		'HackerGarage, Vidrio, Obrera, Guadalajara, México'
		)
	//-16
	+card(
		'comunidades gdl',
		'16 oct',
		'Social Valley',
		'Tecnológico de Monterrey, GDL'
		)
	+event(
		'img/oct2014/socialvalley.jpeg',
		'Social Valley',
		'¡El tercer encuentro de la comunidad más grande de Emprendimiento e Innovación Social de Guadalajara! En el mes de octubre tendremos una edición especial, fruto de una alianza con Changemaker Week, Fuck up Night Gdl y Food Funding por el Día Internacional de la Alimentación.',
		'http://www.meetup.com/Social-Valley/',
		'16-10-2014 19:00:00',
		'16-10-2014 21:00:00',
		'Av. General Ramón Corona 2514, Guadalajara'
		)
	+card(
		'comunidades df',
		'16 oct',
		'Segundo Encuentro de Gobierno Abierto CDMX',
		'Centro de Cultura Digital'
		)
	+event(
		'img/oct2014/gobabierto.png',
		'Segundo Encuentro de Gobierno Abierto CDMX',
		'La Plataforma de Gobierno Abierto de la Ciudad de México (PGA CDMX) es un grupo de trabajo interinstitucional que promueve un modelo de ciudad abierta para el Distrito Federal. En este esfuerzo convergen diversas entidades del Gobierno del Distrito Federal como la Oficialía Mayor, la Secretaría de Ciencia, Tecnología e Innovación, la Contraloría General del Distrito Federal y el Laboratorio para la Ciudad. Los procesos de esta plataforma son facilitados por PIDES: Innovación Social A.C.',
		'http://www.eventbrite.es/e/entradas-segundo-encuentro-de-gobierno-abierto-cdmx-13297548325?aff=es2&rank=5',
		'16-10-2014 09:00:00',
		'16-10-2014 16:30:00',
		'Paseo de la Reforma s/n Esquina Lieja, Colonia Juárez, Ciudad de México'
		)
	//- +card(
	//- 	'comunidades gdl',
	//- 	'17 oct',
	//- 	'Grupo de Emprendimiento del Tec de Monterrey',
	//- 	'Hacker Garage, GDL'
	//- 	)
	//- +event(
	//- 	'img/oct2014/socialvalley.jpeg',
	//- 	'Grupo de Emprendimiento del Tec de Monterrey - Campus SLP',
	//- 	'Sin información adicional disponible',
	//- 	'http://www.meetup.com/Social-Valley/',
	//- 	'17-10-2014 17:00:00',
	//- 	'17-10-2014 21:00:00',
	//- 	'Av. General Ramón Corona 2514, Guadalajara'
	//- 	)

	//-17
	+card(
		'money df',
		'17 oct',
		'Seedstars Mexico City',
		'Centraal, DF'
		)
	+event(
		'img/oct2014/seedstars.png',
		'Seedstars Mexico City',
		'Seedstars World (SSW) will return to Mexico on October 17th 2014, continuing on its journey to emerging markets and fast-growing startup scenes.',
		'http://www.eventbrite.com/e/seedstars-mexico-city-tickets-13574578931?aff=es2&rank=6',
		'17-10-2014 15:30:00',
		'17-10-2014 21:00:00',
		'Zamora 187, Colonia Condesa, Mexico D.F'
		)
	//-18
	+card(
		'curso gdl',
		'18 oct',
		'Taller de Levantamiento de Capital',
		'COPARMEX Jalisco'
		)
	+event(
		'http://placehold.it/700x150',
		'Taller de Levantamiento de Capital',
		'Esta es una gran oportunidad para ti si buscas financiar tu proyecto.  Tiene como objetivo informar a los emprendedores sobre los diferentes tipos de capital disponibles en México para financiar sus proyectos, así como enseñarles a usar innovadoras herramientas para validar y plasmar sus ideas de negocios.',
		'http://www.eventbrite.es/e/entradas-taller-de-levantamiento-de-capital-13471974037?aff=ehomecard',
		'18-10-2014 19:00:00',
		'18-10-2014 21:00:00',
		'Av López Cotilla 1465, Guadalajara, Jalisco'
		)

	+card(
		'curso df',
		'18 oct',
		'#CANTERA: Taller de Social Ads',
		'Impact Hub México DF '
		)
	+event(
		'img/oct2014/cantera.jpg',
		'#CANTERA: Taller de Social Ads',
		'Al finalizar, los participantes conocerán las herramientas de gestión, planeación y ejecución de campañas pautadas en medios sociales: Facebook, Twitter y YouTube. ¿Cómo funciona cada uno? ¿Qué beneficios tiene usar este tipo de anuncios? ¿Cómo diseño un anuncio y un público objetivo adecuado a mi estrategia y negocio? ¿Cómo mido si tuvo éxito y qué información valiosa adicional puedo obtener de una campaña?',
		'http://www.eventbrite.es/e/cantera-taller-de-social-ads-compra-de-publicidad-en-medios-sociales-tickets-13453641203?aff=es2&rank=7',
		'18-10-2014 09:30:00',
		'18-10-2014 11:30:00',
		'Alvaro Obregón 168 esquina Tonalá, Roma Norte, Ciudad de México'
		)


	//-20
	+card(
		'comunidades gdl',
		'20 oct',
		'Openstack GDL: Hacking Keystone',
		'Hacker Garage, GDL'
		)
	+event(
		'img/oct2014/openstack.jpg',
		'Openstack GDL: Hacking Keystone',
		'Keystone es el Servicio de Identidad de OpenStack, mediante el cual se ofrece servicios de autenticación y autorización de usuarios y/o grupo de usuarios.  Esta sesión tiene como objetivo el de conocer sus fundamentos, historia e instalación, desde dos perspectivas distintas: operador y desarrollador de la nube.    Nota:  Altamente recomendable llevar laptop, con VirtualBox/VMware y Vagrant instalados para realizar los laboratorios',
		'http://www.meetup.com/OpenStack-GDL/events/212361942/',
		'20-10-2014 19:00:00',
		'20-10-2014 22:00:00',
		'HackerGarage, Vidrio, Obrera, Guadalajara, México'
		)
	//-21
	+card(
		'comunidades df',
		'21 oct',
		'DEVHR.MX 2014 ',
		'CENART, DF'
		)
	+event(
		'img/oct2014/devhour.jpg',
		'DEVHR.MX 2014 - IV Foro Internacional del Videojuego',
		'Conferencias, mesas redondas, talleres, exposiciones de arte, conciertos, e-sports y b2b en un ambiente íntimo. Aprendizaje, arte, cultura e industria de videojuegos. Explora los videojuegos en sesiones con ponentes líderes en su ramo, los temas más relevantes y oportunidades de contacto de clase mundial.',
		'http://www.eventbrite.com/e/entradas-devhrmx-2014-iv-foro-internacional-del-videojuego-11664485791?aff=es2&rank=1',
		'21-10-2014 19:00:00',
		'25-10-2014 22:00:00',
		'Río Churubusco 79, Ciudad de México'
		)

	//-23
	+card(
		'money gdl',
		'23 oct',
		'Programas públicos  de financiamiento',
		'Edificio MIND Piso 1, GDL'
		)
	+event(
		'img/oct2014/fondospublicos.jpg',
		'Programas públicos de financiamiento para el desarrollo tecnológico y la innovación',
		'¿Estas interesado en buscar financiamiento para tus proyectos de desarrollo tecnológico e innovación? Conoce los programas públicos que pueden otorgarte apoyos financieros.',
		'mailto:karen@pragmatec.com.mx',
		'23-10-2014 15:45:00',
		'23-10-2014 17:00:00',
		'Edificio MIND,Av. Faro 2350, Colonia Verde Valle, Guadalajara'
		)
	//-24
	+card(
		'comunidades df',
		'24 oct',
		'Exploraciones para una Megalópolis',
		'Papalote Museo del Niño, DF'
		)
	+event(
		'img/oct2014/megapolis.png',
		'Exploraciones para una Megalópolis 003: Ciudad Conocimiento',
		'La tercera edición de la serie Exploraciones para una Megalópolis será un encuentro para reflexionar sobre las conexiones entre la ciencia y la creatividad en los procesos de la ciudad. Buscamos deconstruir los estereotipos sobre la incompatibilidad de la ciencia y la creatividad, para entenderlas como fuentes de nuevo conocimiento en pro del desarrollo económico, social y cultural de la Ciudad de México.  Desde sus respectivos proyectos, los ponentes de Exploraciones para una Megalópolis 003: Ciudad Conocimiento, han impulsado el desarrollo intelectual y creativo de las personas en la construcción de mecanismos para fortalecer las ciudades.',
		'http://www.eventbrite.es/e/entradas-exploraciones-para-una-megalopolis-003-ciudad-conocimiento-13593102335',
		'24-10-2014 18:00:00',
		'24-10-2014 21:00:00',
		'Papalote Museo del Niño, Avenida Constituyentes 268, Ciudad de México '
		)
	+card(
		'comunidades gdl',
		'24 oct',
		'Language Cast',
		'Hotel del parque , GDL'
		)
	+event(
		'img/oct2014/languagecast24.jpg',
		'Language and Cultural Exchange, improve your skills!',
		'Are you interested in improving a foreign language, experiencing new culture, and meeting new friends from around the world?    If you are, then come and join our Language and Cast MeetUp!   Participants will meet in small groups to exchange their language abilities and cultural background. We will ask your availability and the language you are interested in learning when you sign up, then we will arrange a meeting between you and your language partner.',
		'http://www.meetup.com/LanguageCastMX/events/210643652/',
		'24-10-2014 19:00:00',
		'24-10-2014 22:00:00',
		'Av. Juarez 845, Centro., Guadalajara'
		)
	//- 25
	+card(
		'concurso df',
		'25 oct',
		'Science Hack Day Ciudad de México',
		'Laboratorio para la Ciudad, DF'
		)
	+event(
		'img/oct2014/sciencehack.jpg',
		'Science Hack Day Ciudad de México',
		'El objetivo de Science Hack Day es mezclar perfiles diversos: expertos, científicos, personas sin experiencia previa, aficionados, estudiantes… Tener la inquietud de producir a través de la ciencia y la tecnología es el único requisito para formar parte.  Después de Exploraciones para una Megalópolis 003: Ciudad Conocimiento, en Science Hack Day los participantes formarán equipos multidisciplinarios y se enfocarán en producir resultados novedosos a través de la colaboración.',
		'http://labplc.mx/science-hack-day/',
		'25-10-2014 09:00:00',
		'26-10-2014 18:00:00',
		'Tlaxcoaque 8, Colonia Centro, Ciudad de México'
		)
	+card(
		'curso gdl',
		'25 oct',
		'PROYEM Impulsando ideas',
		'Guadalajara'
		)
	+event(
		'img/oct2014/impulsandoideas.png',
		'PROYEM Impulsando ideas',
		'PROYEM, te invitamos a nuestro evento de emprendurismo, donde se realizaran conferencias y talleres, co expositores de amplia experiencia, que te ayudaran a complementar y mejorar los proyectos o ideas que tu en lo personal tienes pensado llever acabo. Cotaremos con el apollo de dependencias publicas, como es la Secretaria de economia y BBVA Bancomer, empresas dedicadas a fomentar el emprendurismo como es Zona Emprende Guadalajara y Reto Zapopan. La asistencia a este evento tiene valor curriculas ¿Tienes ideas? ¿Te gustaria emprender? ¡La respuestas las tendras al asistir a nuestro evento! ',
		'http://www.eventbrite.es/e/entradas-proyem-impulsando-ideas-13736944571?aff=ehomecard',
		'25-10-2014 09:00:00',
		'26-10-2014 18:00:00',
		'404 Av Enrique Díaz de León Sur, Guadalajara, México'
		)
	+card(
		'comunidades gdl',
		'25 oct',
		'Halloween Night',
		'Hacker Garage, GDL'
		)
	+event(
		'http://placehold.it/700x150',
		'Halloween Night',
		'Sin información adicional disponible',
		'http://hackergarage.mx/',
		'25-10-2014 11:59:00',
		'26-10-2014 01:00:00',
		'HackerGarage, Vidrio, Obrera, Guadalajara, México'
		)
	//- 27
	+card(
		'curso df gdl',
		'27 oct',
		'Diplomado de Tecnologías Abiertas sobre Microsoft Azure',
		'En línea'
		)
	+event(
		'img/oct2014/openazure.jpg',
		'Diplomado de Tecnologías Abiertas sobre Microsoft Azure',
		'Microsoft México en conjunto con las comunidades de Androideity, Desarrollo Web, Html 5 Fácil y Comunidad de PHP México, inician un diplomado de tecnologías de OpenSource en línea, donde los expertos del mundo del OpenSource imparten el conocimiento a todos los asistentes sobre cómo integrar integrar y utilizar PHP, Node.JS, MySQL, Hadoop, MongoDB, Linux y Android sobre Microsoft Azure. ',
		'https://msevents.microsoft.com/CUI/EventDetail.aspx?EventID=1032598449&Culture=es-MX&community=0',
		'27-10-2014 09:00:00',
		'27-10-2014 18:00:00',
		'En línea'
		)
	//-29
	+card(
		'curso df',
		'29 oct',
		'Startup Grind Mexico City',
		'Centraal, D.F'
		)
	+event(
		'img/oct2014/spgrind.png',
		'Startup Grind Mexico City',
		'Startup Grind is a global startup community designed to educate, inspire, and connect entrepreneurs. We host monthly events in more than 50 cities and 20 countries featuring successful local founders, innovators, educators and investors who share personal stories and lessons learned on the road to building great companies. Our monthly fireside chat interviews, startup mixers and annual conferences provide ample opportunities to connect with amazing startups and the people behind them, tap into a strong support network, form meaningful connections and gain inspiration for the startup journey ahead. ',
		'http://www.eventbrite.com/e/startup-grind-mexico-city-hosts-daphne-s-leger-frogtek-tickets-13421039691?aff=es2&rank=14',
		'29-10-2014 19:30:00',
		'29-10-2014 22:30:00',
		'Zamora 187, Colonia Condesa, Mexico D.F'
		)
	//- 30
	+card(
		'money gdl',
		'30 oct',
		'Hackers & Founders',
		'SpeedWagon , GDL'
		)
	+event(
		'img/oct2014/h-f.png',
		'Hackers & Founders',
		'Hackers / Founders es la comunidad más grande de emprendedores tecnológicos en Guadalajara. Hacemos reuniones mensuales enfocadas en ayudar a los emprendedores a dar el siguiente paso en sus startups. Somos una comunidad tecnológica basada en la pregunta ¿Qué Necesitas? conoce a tus futuros socios, solicita ayuda, aprende y emprende. Nos reunimos el último jueves de cada mes.',
		'http://www.meetup.com/Hackers-Founders-GDL/events/204550442/',
		'30-10-2014 11:59:00',
		'30-10-2014 01:00:00',
		'Ontario 1305, Col. Providencia, Guadalajara'
		)
.content-display
